.hat{
    text-align: center;
    background-image: url(../img/bc-image-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    margin: 0 auto;
    padding: 0;
}
.main-menu{
    padding-bottom: 140px;
    padding-top: 20px;
}
.signup-menu{
    padding: 0px;
}
.register-form{
    margin-bottom: 116px;
}
.signup-item{
    min-width: 90px;
    padding: 10px 17px;
    font-family: 14px/1.2 "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}
.signup-item:focus,
.signup-item:hover{
    border: 2px solid #ffffff;
    text-decoration: none;
    color: #ffffff;
}
.firm-logo{
    font: 20px/1.2 "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}
.firm-title{
    margin: 0px -15px;
    margin-bottom: 11px;
    padding: 0px;
    font: 30px/1.2 "Montserrat", sans-serif;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}
.firm-slogan{
    margin: 0;
    margin-bottom: 18px;
    padding: 0px 20px;
    font: 18px/1.2 "Roboto", sans-serif;
    color: #ffffff;
    font-weight: 300;
}
.first-section{
    padding: 67px 0px;
}
.firm-partners{
    margin: 0;
    width: 280px;
    padding: 15px;
    background-color: #FF4E50;
    border: none;
    border-radius: 50px;
    text-decoration: none;
}
.firm-partners a{
    font: 14px/1.2 "Montserrat", sans-serif ;
    color: #ffffff;
    font-weight: 700;
}
.partners-title{
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    font: 22px/1.2 "Montserrat", sans-serif;
    font-weight: 700;
    color: #333333;
    text-align: center;
}
.partners{
    padding: 0;
    margin-bottom: 25px;
    text-align: center;
    list-style-type: none;
}
.member-images{
    width: 121px;
    height: 121px;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}

.member-images::before{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.tv-icon::before{
    content: url(../img/icon-member-01.png);
}
.cup-icon::before{
    content: url(../img/icon-member-02.png);
}
.bottel-icon::before{
    content: url(../img/icon-member-03.png);
}
.telegram-icon::before{
    content: url(../img/icon-member-04.png);
}
.partner-card{
    padding: 0 37px;
    margin-bottom: 20px;
}
.partner-card:last-child{
    margin-bottom: 0px;
}
.more-partners{
    box-sizing: border-box;
    margin: 0 20px;
    width: 284px;
    padding: 11px 0px;
    border: 2px solid #ff4e50;
    color: #ff4e50;
    border-radius: 20px;
    background-color: #ffffff;
    font: 14px/1.2 'Montserrat', sans-serif;
    font-weight: 700;
}
.member-name{
    font: 14px/1.2 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333333;
}
.some-member-info{
    margin-bottom: 0;
    font: 14px/1.2 'Roboto', sans-serif;
    font-weight: 300;
    color: #666666;
    } 

@media (min-width: 767px){
        .main-menu{
            padding-bottom: 235px;
        }
        .signup-menu{
            min-height: 0px;
            margin-bottom: 116px;
        }
        .register-form{
            margin: 0px;
            padding: 0px;
        }
        .firm-title{
            margin: 0 0 30px;
            padding: 0px 80px;
            font: 52px/1.2 'Montserrat', sans-serif;
            font-weight: 700;
            color: #ffffff;
            text-transform: uppercase;
        }
        .firm-slogan{
            margin: 0 0 30px;
            padding: 0 50px;
            font: 24px/1.2 'Roboto', sans-serif;
            font-weight: 300;
            color: #ffffff;
        }  
        .firm-partners{
            display: block;
            width: 226px;
            margin: 0 auto;
            padding: 12px 0;
            text-decoration: none;
            border-radius: 20px;
            background-color: #ff4e50;
        }
        .partners{
            margin-bottom: 40px;
           padding: 0;
        } 
        .partner-card{
            width: 236px;
            margin: 0 auto;
            padding: 0px;
            margin-bottom: 60px;
        }
        .partner-card:last-child{
            margin-bottom: 0;
        }
        .partner-card:nth-child(n+3){
            margin-bottom: 0;
        }
        .some-member-info{
            padding: 0 10px;
            }
        .partner-button{
            text-align: center;
        }
    }
    
    @media (min-width: 1199px){
        .container{
            width: 942px;
        }
        .main-menu{
            padding-top: 48px;
            padding-bottom: 235px;
            max-width: 1440px;
        }
        .signup-menu{
           padding: 0px;
        }
        .firm-partners:focus,
        .firm-partners:hover{
            color: #ffffff;
            text-decoration: none;
        }
        .firm-title{
            padding: 0 140px;
        }
        .partners{
            margin: 0;
            margin-bottom: 40px;
            padding: 0 ;
        }
        .partner-card{
            width: 220px;
            padding: 0px;
            margin: 0px;
        }
        .partner-card:last-child{
            margin-right: 0px;
        }
        .more-partners{
            width: 184px;
        }

    }