.menu__nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0px;
}
.nav__item{
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 57px;
}
.item__link{
    text-decoration: none;
    color: #ffffff;
    position: relative;
}
.nav__item:last-child{
    margin-right: 0px;
}
.nav__link:focus,
.nav__link:hover{
    color: #fce38a;
    padding-bottom: 12px;
    border-bottom: 3px solid #fce38a;
}
