.header{
  margin: 0 auto;
  padding: 28px 0 230px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url(../images/title.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
&__menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  margin-bottom: 185px;
}

&__slogan{
  font: 72px/1.2 $font-kaushan;
  font-weight: normal;
  color: $primary-white-color;
  margin: 0px auto 60px;
}

&__title{
  font: 150px/140px $font-montserrat;
  font-weight: bold;
  color: $primary-white-color;
  text-transform: uppercase;
  margin: 0px 190px 100px;
  padding: 0px;
}

&__btn{
  margin: 0;
  padding: 12px 30px;
  font: 14px/1.2 $font-montserrat;
  font-weight: bold;
  color: $primary-white-color;
  background: none;
  border: 3px solid $primary-white-color;
  text-transform: uppercase;
}

}

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 2dppx), (min-resolution: 192dpi){
  .header{
    background-image: url(../images/title@2x.jpg);
  }
}

.menu{
  &__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
  }
}

.nav{
  &__item{
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 57px;

    &:last-child{
      margin-right: 0px;
    }

  }

}

.item{
  &__link{
    text-decoration: none;
    color: $primary-white-color;
    position: relative;

    &:hover, &:focus{
      color: $nav-hover-color;
      padding-bottom: 12px;
      border-bottom: 3px solid $nav-hover-color;
    }
  }
}

.header-icons{
  width: 20px;
  height: 20px;
  fill: $primary-white-color;

  &:hover{
    fill: $nav-hover-color;
  }
}
