.socicon-size{
  width: 26px;
  height: 26px;
  fill: $after-red-color;
}

.header-icons{
  width: 20px;
  height: 20px;
  fill: $primary-white-color;

  &:hover{
    fill: $nav-hover-color;
  }
}

.icon-size__item{
  display: block;
  width: 32px;
  height: 32px;
  vertical-align: 18px;
  fill: $service-icons-fill;
  margin: 0px 24px;
}