.shadow{
  position: absolute;
  top: 0px;
  display: none;

  &__list{
    display: flex;
    justify-content: space-between;
    width: 224px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 207px;
    left: 78px;
  }

  &__link{
    width: 55px;
    height: 55px;
    background-color: $nav-hover-color;
    display: flex;
    justify-content: center;
    align-items: center;

    &__link:focus,
    &__link:hover{
      background-color: $after-red-color;
    }
    
  }
  
  &__photo{
    width: 100%;
    height: 470px;
  }
  
  
}


.team-member__photo--hover:focus .shadow,
.team-member__photo--hover:hover .shadow{
  display: block;
  border: none;
  opacity: 0.9;
  box-shadow: 10px 10px $service-icons-fill;
  transform: translate(-10px, -10px);
  transition-duration: 400ms;
  transition-timing-function: ease;
}

.shadow__link:focus .socicon-size,
.shadow__link:hover .socicon-size{
  fill: $primary-white-color;
}