.footer-bg{
  background-color: $black-bg;
}
.footer{
  &__text{
    margin: 0;
    padding: 20px 0px;
    text-align: center;
    font-family: 'Mont-400';
    font-size: 11px;
    line-height: 37.5px;
    color: $grey-text;

    @media (min-width:768px) {
      text-align: start;
      padding: 20px 40px;
    }

    @media (min-width:1280px) {
      padding: 20px 35px;
      font: 14.58px/37.5px 'Mont-400';
    }

    @media (min-width:1680px) {
      padding: 20px 180px;
      font: 14.58px/37.5px 'Mont-400';
    }

  }
}