.register-form{
  padding: 58px 20px;
  background-image: url(../images/mobile-images/form-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;

  @media (min-width:768px){
    padding: 65px 40px;
    background-image: url(../images/tablet-images/form-bg.png);
  }

  @media (min-width:1280px){
    padding: 87px 35px;
    background-image: url(../images/desctop-images/form-bg.png);
  }

  @media (min-width:1680px){
    padding: 130px 35px 100px;
    background-image: url(../images/big-dt-images/form-bg.png);
  }

  &__title{
    font: 14px/26.04px 'Mont-900';
    color: $primary-white;
    padding: 0px 22px;
    margin-bottom: 26px;

    @media (min-width:768px){
      font: 22px/38px 'Mont-900';
      padding: 0px 70px;
      margin-top: 0;
    }

    @media (min-width:1280px){
      font: 37px/50px 'Mont-900';
      padding: 0px 140px;
      margin-top: 0;
      margin-bottom: 50px;
    }
    
    @media (min-width:1680px){
      font: 37.5px/50px 'Mont-900';
      padding: 0px 340px;
      margin-top: 0;
      margin-bottom: 65px;
    }
  }

  &__text{
    font: 11px/20px 'Mont-700';
    color: $primary-white;
    padding: 0px 12px;
    margin-bottom: 25px;

    @media (min-width:768px){
      font: 15px/20px 'Mont-700';
      margin-top: 0;
      padding: 0px 110px;
      text-align: center;
    }

    @media (min-width:1280px){
      font: 18px/24.5px 'Mont-700';
      margin-top: 0;
      padding: 0px 330px;
      text-align: center;
      margin-bottom: 55px;
    }

    @media (min-width:1680px){
      font: 25px/37.5px 'Mont-700';
      margin-top: 0;
      padding: 0px 390px;
      text-align: center;
      margin-bottom: 55px;
    }
  }
}

.form{
  @media (min-width:768px){
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input{
    padding: 21px 19px;
    margin-bottom: 20px;
    width: 100%;
    background: none;
    border: 1px solid $primary-white;
    color: $primary-white;
    font: 13px/1.2 'Mont-700';

    @media (min-width:768px){
      width: 398px;
      font: 15px/1.2 'Mont-700';
      padding: 15px 19px;
    }

    @media (min-width:1280px){
      width: 618px;
      font: 20.83px/1.2 'Mont-700';
      padding: 23px 19px;
    }
  }

  &__btn{
    width: 250px;
    margin-top: 35px;
    padding: 20px 14px;
    background-color: #ff6b08;
    border: none;
    font: 11px/1.2 'Mont-700';
    color: #ffffff;
    text-transform: uppercase;

    @media (min-width:1280px){
      font: 14px/1.2 'Mont-700';
      width: 350px;
    }
  }
}