.container{
    width: 1201px;
    margin: 0 auto;
    overflow: hidden;
}
.main-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    margin-top: 27px;
    margin-bottom: 107px;
}
.loggo{
    display: flex;
    width: 89px;
}
.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    text-transform: uppercase;
    list-style: none;
    transition: color 200ms linear, background-color 200ms linear;
}
.menu-item{
    position: relative;
    margin-right: 57px;
}
.menu-item:last-child{
    margin-right: 0px;
}
.menu-item::after{
    display: none;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: 26px;
}
.menu-item:hover::after {
    display: block;
}
.menu-link:hover{
    color: #f38181;
}
.menu-link{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #b3e9df;
    font: normal 14px/1.2 'Montserrat', sans-serif;
    vertical-align: bottom;
}
.first-title{
    display: flex;
    justify-content: center;
    margin: 0px 0px;
    padding: 0;
    width: 100%;
    font: normal 24px/1.6 'Kaushan Script',sans-serif;
    color: #333333;
}
.second-title{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 0px 0px 99px 0px;
    padding: 0;
    position: relative;
    font: bold 30px/1.6 'Montserrat',sans-serif;
    color: #333333;
}
.second-title::after{
    position: absolute;
    top: 73px;
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
}
.services-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}
.services-items{
    display: flex;
    max-width: 382px;
    margin-bottom: 100px;
}
.icon{
    margin: 0px 30px;
}
.about-services{
    display: flex;
    flex-direction: column;
}
.service-title{
    font: normal 14px/1.2 'Montserrat',sans-serif;
    color: #333333;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    line-height: 1.2;
}
.description{
    margin: 0;
    font: normal 15px/1.2 'Roboto',sans-serif;
    color: #999999;
}
.preface{
    margin: 0 auto;
    width: 960px;
    margin-bottom: 90px;
    font-family: 'Roboto:400', sans-serif;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
    color: #999999;
}
.our-team{
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;
    padding: 0;
    list-style-type: none;
}
.team-member{
    position: relative;
}
.member-name{
    font: normal 14px/1.2 'Montserrat', sans-serif;
    color: #333333;
    text-transform: uppercase;
    margin: 0;
}
.member-position{
    font: normal 15px/24px 'Roboto',sans-serif;
    color: #999999;
}
.part{
    text-align: center;
}
.basement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 10px 0;
    border: 1px;
    border-top:#e5e5e5;

}
bdi{
    color: #f38181;
}
.signature{
    margin: 0;
    padding: 0;
    font: normal 14px/1.2 'Montserrat', sans-serif;
    color: #333333;
}
.subscrible{
    margin: 0;
    width: 150px;
    padding: 12px 28px;
    font: bold 14px/1.2 'Montserrat', sans-serif;
    color: #ffffff;
    text-transform: uppercase; 
    border: none;
    background-color: rgb(149, 225, 211); 
}
.photo{
    margin: 0;
    margin-bottom: 29px;
    padding: 0;
    position: relative;
}
.shadow{
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0;
}
.photo:hover .shadow{
    display: block;
    content: '';
    opacity: 0.9;
}
.photo:hover{
    box-shadow: 10px 10px #95e1d3;
    transform: translate(-10px, -10px);
    transition-duration: 200ms;
    transition-timing-function: linear;
}
.soc-icons{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: 224px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 55px;
    height: 56px;
    background-color: #fce38a;
    color: #f38181;
    opacity: 0;
    transition: color 200ms linear;
}
.photo:hover .icon-link{
    display: flex;
    justify-content: center;
    align-content: center;
    content: '';
    opacity: 1;
}  
.icon-link:hover{
    opacity: 1;
    background-color: #95e1d3;
}
:hover {
    transition-duration: 200ms;
    transition-timing-function: linear;
}
input{
    margin-left: auto;
    margin-right: -4px;
    padding: 10px 7px;
    border: none;
    outline: 1px solid #e7e7e7;
}
::placeholder{
    color: #cccccc;
    font: 15px/24px "Roboto" lighter italic, sans-serif;
}
.mail-form{
    width: 380px;
}