$font-roboto: 'Roboto', sans-serif;
$font-kaushan: 'Kaushan Script', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;


$primary-white-color: #ffffff;
$text-grey-color: #333333;
$nav-hover-color: #fce38a;
$service-icons-fill: #95E1D3;
$after-red-color: #f38181;
$second-grey-color: #999999;
$input-light-color: #e5e5e5;
$input-white-color: #e7e7e7;