$font-mont-300: 'Montserrat', sans-serif;

$black-text: #18191d;
$grey-text: #b9b9b9;
$primary-white: #ffffff;
$orange-full: #ff6b08;
$orange-light: #ff906c;
$grey-bg: #fefefe;
$grey-col: #fafafa;
$grey-light-text: #858585;
$orange-dk: #d35526;
$black-bg: #111517;
$border-col: #d1d1d1;
$before-col: #e0e0e0;
$shadow: #e6e6e6;


